<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patientmenu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>
<body>

<div class="login-container">
    <h2>Velkommen til din patientmenu</h2>

    <button onclick="togglePatientDropdown()" class="dropbtn">Vælg handling</button>
    <div id="patient-dropdown" class="dropdown-content">
        <a href="/sporgeskema">Udfyld spørgeskema</a>
        <a href="/feedback">Se feedback</a>
        <a href="/dashboard">Se patientoversigt</a>
        <a href="/">Log ud</a>
    </div>
</div>

<script>
    function togglePatientDropdown() {
        document.getElementById("patient-dropdown").classList.toggle("show");
    }
</script>

</body>
</html>
